          <div class="row">
            <div class="col-6 col-lg-6">
              <h2> <a href="/paper/snu_urine">URINE SEDIMENT</a> </h2>
              <p>Urinalysis is the best bargain in veterinary medicine. In SNU VMTH, urine sediment test is a best seller of department of clinical pathology. Every examination references and microscopic images should be managed correctly. But the examiner only need to fill the given form to manage files. This system supports file management. Furthermore, the system automatically generates routine examination references! System operator hopes every examiner could have more time to research by reducing the time to write routine references. However, please note that everyone must be able to write one's own examination references. </p>
              <p><a class="btn btn-secondary" href="/paper/snu_urine" role="button">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="col-6 col-lg-6">
              <h2> <a href="/paper/neodin">NEODIN</a> </h2>
              <p>In ancient, management of <i>Neodin</i> cytology and hematology examination references was high-maintenance. This function was developed to improve the academic productivity by reducing the time consuming to manage the file. Although hematological opinion paper is not yet optimized for automation, it will be useful enough. </p>
              <p><a class="btn btn-secondary" href="/paper/neodin" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->

